/vendor/
/node_modules/

/public/storage
/storage/*.key
.env.*
/.env.local

.phpunit.result.cache
Homestead.yaml
Homestead.json

# Laravel cache & logs
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*

# IDE files
/.idea/
/.vscode/
/*.code-workspace

# OS files
.DS_Store
Thumbs.db
